.CreateChannelForm{

}

.CreateChannelForm .content{
    max-width:500px; width:100%; display:flex; justify-content:center; align-items:center;
    min-height:100vh;
}

.CreateChannelForm .content input[type=text]{
    width:100%;
    overflow: auto;
    margin: 0;
    min-height: 2.625rem;
    height: 38px;
    max-height: 11.25rem;
    padding-top: .5625rem;
    padding-right: 1.875rem;
    padding-bottom: .625rem;
    padding-left: 1rem;
    border: 2px solid #E0E0E0;
    border-radius: .375rem;
    outline: 0;
    background: #fff;
    resize: none;
    box-shadow: none;
    color: #3D3C40;
    font-family: Slack-Lato,appleLogo,sans-serif;
    font-size: .9375rem;
    line-height: 1.2rem;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.CreateChannelForm .content input[type=submit]{
    width:100px;
    overflow: auto;
    margin: 20px auto;
    display:block;
    min-height: 2.625rem;
    height: 38px;
    max-height: 11.25rem;
    padding-top: .5625rem;
    padding-right: 1.875rem;
    padding-bottom: .625rem;
    padding-left: 1rem;
    border: 2px solid #E0E0E0;
    border-radius: .375rem;
    outline: 0;
    background: #fff;
    resize: none;
    box-shadow: none;
    color: #3D3C40;
    font-family: Slack-Lato,appleLogo,sans-serif;
    font-size: .9375rem;
    line-height: 1.2rem;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}